@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }

  .gradient-border {
    @apply border-2 border-transparent bg-clip-padding;
    background-image: linear-gradient(#ffffff, #ffffff),
      linear-gradient(135deg, #a855f7, #ec4899);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}